.nav-container {
  margin-bottom: 10px;
  background: #144973;
  color: whitesmoke;
  text-transform: uppercase;
}
.navigation-bar {
  display: flex;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
}
.navigation-bar img {
  width: auto;
  height: 70px;
  margin: 4px 10px 1px 10px;
}
.navigation-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
}
.navigation-links li a {
  margin-right: 5px;
  color: white;
  text-decoration: none;
}
.navigation-links li > a:visited {
  color: yellow;
  text-decoration: none;
}
.navigation-links li > a:hover {
  color: white;
  text-decoration: underline;
}
#navigationLeft {
  display: flex;
  height: 100%;
  align-items: center;
}
#navigationRight {
  height: 100%;
  display: flex;
}

@media only screen and (max-width: 780px) {
  .navigation-links {
    background-color: red;
    display: none;
  }
}
